body {
    font-family: Cambria;
}

.main_title {
    color: white;
    height: 10vw;
    padding-top: 3vw;
    text-align: center;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.main_text {
    padding: 2vw;
}

.gallery_products {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: max-content;
    flex-direction: row;
}

.product {
    padding: 1vw;
    background-color: lightblue;
    border: black;
    border-width: 0.5vw;
}

.login_form {
    text-align: center;
}

.main_page_footer {
    background-color: rgb(75, 156, 211);
}

.signup_form {
    text-align: center;
}

.main_page_footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 3vw;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
