body {
    font-family: Cambria;
}

.main_title {
    color: white;
    height: 10vw;
    text-align: center;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.main_text {
    padding: 2vw;
}

.login_form {
    text-align: center;
}

.main_page_footer {
    background-color: rgb(75, 156, 211);
}
