<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <title>Payment</title>
        <link rel="stylesheet" href="/static/stylesheet.css">
    </head>
        <!-- mobile navbar -->
        <nav class="navbar fixed-top d-sm-none">
            <div class="container-fluid">
                <!-- navbar logo (top left side)-->
                <img alt="Diversity Logo" src="static/logo.png" class="img-fluid" width="32">
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <!--page links-->
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/product">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/signup">Signup</a>
                            </li>
                            {% if username %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/viewcart">Cart</a>
                                </li>
                            {% endif %}
                            {% if account_type == "admin" and username %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/admindashboard">Management Dashboard</a>
                                </li>
                            {% endif %}
                            {% if username %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- desktop navbar-->
        <nav class="navbar navbar-expand-lg d-sm-block">
            <div class="container-fluid">
                <!-- navbar logo (top left side)-->
                <img alt="Diversity Logo" src="static/logo.png" class="img-fluid" width="32">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <!--page links-->
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/product">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/signup">Signup</a>
                        </li>
                        {% if username %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/viewcart">Cart</a>
                            </li>
                        {% endif %}
                        {% if account_type == "admin" and username %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/admindashboard">Management Dashboard</a>
                            </li>
                        {% endif %}
                        {% if username %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    <body>
        <!-- TO DO add proper expiry date system -->
        <div class="container py-5">
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex justify-content-center pb-5">
                        <div class="col-md-7 col-xl-5 mb-4 mb-md-0">
                            <h2 class="main_title">Payment</h2>
                            <div class="main_text">
                                <form method="POST" class="mt-3">
                                    <div class="form-group">
                                        <label for="card_number">Card Number</label>
                                        <input id="card_number" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" 
                                        autocomplete="cc-number" maxlength="19" class="form-control" 
                                        placeholder="xxxx xxxx xxxx xxxx" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="expiry_date">Expiry Date</label>
                                        <input id="expiry_date" type="tel" inputmode="numeric" pattern="[0-9\s]{5}" 
                                        maxlength="5" placeholder="xx/xx" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="cvv">CVV</label>
                                        <input type="tel" id="cvv" inputmode="numeric" pattern="[0-9\s]{3}" maxlength="3" placeholder="xxx" 
                                        class="form-control" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Pay</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 col-xl-4 offset-xl-1">
                            <div class="py-4 d-flex justify-content-end">
                                <h6><a href="/">Cancel and return to website</a></h6>
                                </div>
                                <div class="rounded d-flex flex-column p-2 bg-body-tertiary">
                                <div class="p-2 me-3">
                                    <h4>Order Recap</h4>
                                </div>
                                {% for item in cart_items %}
                                    <div class="p-2 d-flex">
                                        <div class="col-8">{{ item["product"] }}Plan Per Month</div>
                                        <div class="ms-auto">${{ item["price"] }}</div>
                                    </div>
                                {% endfor %}
                                <div class="p-2 d-flex pt-3">
                                    <div class="col-8"><b>Total</b></div>
                                    <div class="ms-auto"><b class="text-success">${{ total_price }}</h3></b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>